body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-image: url("../../imagens/fundo.png");
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  color: limegreen;
}

p {
  text-align: justify;
}

blockquote {
  font-display: ;
}